<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
        title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <!-- <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br> -->
      <h4><b>NOHESITATION</b></h4>

    </div>
    <div class="w3-bar-block">
      <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
          class="fa fa-th-large fa-fw w3-margin-right"></i>INICIO</a>
    </div>
    <div class="w3-panel w3-large">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>FANWIKI</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <button class="w3-button w3-black">Bosses</button>
          <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Character</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Item</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Zone</button>
        </div>
      </div>
    </header>

    <!-- Boss 1 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://images.pushsquare.com/bd07c4a18b137/sekiro-shadows-die-twice-how-to-kill-genichiro-ashina-guide-ps4-playstation-4.large.jpg"
            height="200" width="350" alt>
          <div *ngFor="let boss of bossData | slice:0:1">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://www.egamers.com/wp-content/uploads/2019/04/sekiro-serpiente-1024x500.jpg"
            height="200" width="350">
          <div *ngFor="let boss of bossData | slice:1:2">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/04/monja-corrupta-verdadera-sekiro-shadows-die-twice_3.jpg"
            height="200" width="350">
          <div *ngFor="let boss of bossData | slice:2:3">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
            <br>
          </div>
        </div>
      </div>
    </div>

    <!-- Boss 2 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://i.ytimg.com/vi/3uHoGt29aiM/maxresdefault.jpg" height="200" width="350">
          <div *ngFor="let boss of bossData | slice:3:4">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
            <br>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://i.ytimg.com/vi/vJ7ZSmDvQmM/maxresdefault.jpg" height="200" width="350">
          <div *ngFor="let boss of bossData | slice:4:5">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
            <br>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://media.vandal.net/m/3-2019/20193261022120_1.jpg" height="200" width="350">
          <div *ngFor="let boss of bossData | slice:5:6">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Boss 3 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://media.vandal.net/master/3-2019/201932523541599_1.jpg" height="200">
          <div *ngFor="let boss of bossData | slice:6:7">
            <p><b>Nombre:</b> {{ boss.name }}</p>
            <p><b>Descripción:</b> {{ boss.description }}</p>
            <p><b>Barras de Vida:</b> {{ boss.deathblow }}</p>
            <p><b>Devilidad:</b> {{ boss.usefulTools }}</p>
            <p><b>localización:</b> {{ boss.localization }}</p>
            <p><b>item:</b> {{ boss.item}}</p>
          </div>
        </div>
      </div>
    </div>
<br>
<div class="w3-black w3-center w3-padding-24">NoHesitation Boss</div>

    <header id="portfolio">
      <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">

        <div class="w3-section w3-bottombar w3-padding-16">
          <button class="w3-button w3-black">Character</button>
          <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Bosses</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Item</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Zone</button>
        </div>
      </div>
    </header>

    <!-- Character 1 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://pbs.twimg.com/media/EsM8fw-WMAUtOKC.jpg:large"
            height="200" width="350" alt>
          <div *ngFor="let character of characterData | slice:0:1">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://pbs.twimg.com/media/ENh8xBrUUAAo9pJ?format=jpg&name=large"
            height="200" width="350">
          <div *ngFor="let character of characterData | slice:1:2">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://i.ytimg.com/vi/C6I7e3HqmMo/maxresdefault.jpg"
            height="200" width="350">
          <div *ngFor="let character of characterData | slice:2:3">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Character 2 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/master/3-2019/20193301348371_1.jpg"
            height="200" width="350" alt>
          <div *ngFor="let character of characterData | slice:3:4">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://images.pushsquare.com/bd07c4a18b137/sekiro-shadows-die-twice-how-to-kill-genichiro-ashina-guide-ps4-playstation-4.large.jpg"
            height="200" width="350">
          <div *ngFor="let character of characterData | slice:4:5">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/master/3-2019/201932523541599_1.jpg"
            height="200" width="350">
          <div *ngFor="let character of characterData | slice:5:6">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!-- Character 3 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/master/3-2019/20193271205138_1.jpg"
            height="200" width="350" alt>
          <div *ngFor="let character of characterData | slice:6:7">
            <p><b>Nombre:</b> {{ character.name }}</p>
            <p><b>Descripción:</b> {{ character.description }}</p>
            <p><b>localización:</b> {{ character.localization }}</p>
            <p><b>item:</b> {{ character.item}}</p>
          </div>
        </div>
      </div>
    </div>


    <br>
    <div class="w3-black w3-center w3-padding-24">NoHesitation Character</div>

    <header id="portfolio">
      <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">

        <div class="w3-section w3-bottombar w3-padding-16">
          <button class="w3-button w3-black">Item</button>
          <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Bosses</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Character</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Zone</button>
        </div>
      </div>
    </header>

    <!-- Item 1 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://i.blogs.es/1730b0/screenshot_1/1366_2000.png"
            height="200" width="350" alt>
          <div *ngFor="let item of itemData | slice:0:1">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://media.vandal.net/i/640x360/3-2019/20193291693945_1.jpg"
            height="200" width="350">
          <div *ngFor="let item of itemData | slice:1:2">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/master/3-2019/2019322119639_1.jpg"
            height="200" width="350">
          <div *ngFor="let item of itemData | slice:2:3">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item 2 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://i.pinimg.com/originals/9d/94/d8/9d94d858dbd02bf8b1e45124cd635bf5.jpg"
            height="200" width="350" alt>
          <div *ngFor="let item of itemData | slice:3:4">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://areajugones.sport.es/wp-content/uploads/2019/03/Sekiro-Escama.jpg"
            height="200" width="350">
          <div *ngFor="let item of itemData | slice:4:5">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/i/620x351/3-2019/20193221212296_3.jpg"
            height="200" width="350">
          <div *ngFor="let item of itemData | slice:5:6">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!-- Item 3 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/Y43545JP6VISZEVBVJLLF4O34U.jpg"
            height="200" width="350" alt>
          <div *ngFor="let item of itemData | slice:6:7">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://i.ytimg.com/vi/vOHZFMyyxBc/maxresdefault.jpg"
            height="200" width="350">
          <div *ngFor="let item of itemData | slice:7:8">
            <p><b>Nombre:</b> {{ item.name }}</p>
            <p><b>Descripción:</b> {{ item.description }}</p>
            <p><b>localización:</b> {{ item.localization }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-black w3-center w3-padding-24">NoHesitation Item</div>

    <header id="portfolio">
      <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">

        <div class="w3-section w3-bottombar w3-padding-16">
          <button class="w3-button w3-black">Zone</button>
          <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Bosses</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Character</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right">Item</i></button>
        </div>
      </div>
    </header>

    <!-- Zone 1 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/ZQQVSDHWWVLXDDUFJZE5UOEVMI.jpg"
            height="200" width="350" alt>
          <div *ngFor="let zone of zoneData | slice:0:1">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/04/sekiro-shadows-die-twice.jpg?tf=3840x"
            height="200" width="350">
          <div *ngFor="let zone of zoneData | slice:1:2">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/i/640x360/3-2019/201932111301031_1.jpg"
            height="200" width="350">
          <div *ngFor="let zone of zoneData | slice:2:3">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Zone 2 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/master/3-2019/20193212127889_1.jpg"
            height="200" width="350" alt>
          <div *ngFor="let zone of zoneData | slice:3:4">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://media.vandal.net/master/3-2019/20193221152784_1.jpg"
            height="200" width="350">
          <div *ngFor="let zone of zoneData | slice:4:5">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container">
        <!-- <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> -->
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/i/1280x720/3-2019/20193221452815_1.jpg"
            height="200" width="350">
          <div *ngFor="let zone of zoneData | slice:5:6">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!-- Zone 3 Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img
            src="https://media.vandal.net/i/620x351/3-2019/201932317553220_1.jpg"
            height="200" width="350" alt>
          <div *ngFor="let zone of zoneData | slice:6:7">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          &nbsp; &nbsp;<img src="https://media.vandal.net/master/3-2019/20193282013840_1.jpg"
            height="200" width="350">
          <div *ngFor="let zone of zoneData | slice:7:8">
            <p><b>Nombre:</b> {{ zone.name }}</p>
            <p><b>Descripción:</b> {{ zone.description }}</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-black w3-center w3-padding-24">NoHesitation Zone</div>










  </div>






  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>

</body>

</html>
